
@{
    ViewBag.Title = "EndSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EndSurvey</h2>

<
<h1 style="text-align:center"> Survey End ! Thank you for attempting this survey!</h1><br />
<h2 style="text-align:center">Your score is @TempData["score"]</h2>

